<%- layout('./layouts/boilarplate.ejs') %>

<div class="gg" style="min-height: 100vh; padding-top: 20px;">
    <div class="alert alert-danger col-6 offset-3" role="alert" style="display: flex; justify-content: center; flex-direction: column; align-items: center;">
        <h1><%= status %></h1>
        <p><%= message %></p>
    </div>
</div>