<%- layout('./layouts/boilarplate.ejs') %>

    <body>
        <div class="new-container">
            <h2>Create New Listing: </h2>
            <form action="/listing/create" method="post" style="padding: 22px 32px;" class="needs-validation"
                novalidate enctype="multipart/form-data">
                <div class="container">
                    <div class="title-c c">
                        <label for="title" class="form-label">Enter Title: </label>
                        <input type="text" name="title" id="title" class="form-control" required>
                    </div>
                    <div class="description-c c">
                        <label for="desc" class="form-label">Enter Description: </label>
                        <textarea name="description" id="desc" class="form-control" required></textarea>
                    </div>
                    <!-- <div class="image-c c">
                        <label for="im">Enter Image URL: </label>
                        <input type="text" name="url" id="im">
                    </div> -->
                    <div class="image-c c">
                        <label for="im">Upload Image: </label>
                        <input type="file" name="url" id="im">
                    </div>
                    <div class="sub-c">
                        <div class="price-c c">
                            <label for="pr" class="form-label">Enter Price: </label>
                            <input type="number" name="price" id="pr" class="form-control" required>
                        </div>
                        <div class="country-c c">
                            <label for="country" class="form-label">Enter country name: </label>
                            <input type="text" name="country" id="country" class="form-control" required>
                        </div>
                    </div>
                    <div class="location-c c">
                        <label for="loc" class="form-label">Enter Location: </label>
                        <input type="text" name="location" id="loc" class="form-control" required>
                    </div>
                </div>
                <div class="newbt">
                    <button class="btn btn-primary" type="submit">Add</button>
                </div>
            </form>
        </div>
    </body>